# RabbitMQ 接続 URI
# 形式: amqp(s)://ユーザー名:パスワード@ホスト:ポート/vhost/exchange名
# 例: amqps://alice:password@rabbitmq.example.com:5671/myapp/pdf.analysis.fanout
#   この例の場合、vhost は "myapp" となります。
#   vhost が "/myapp" の場合は、スラッシュをエンコードして以下のようになります。
#   amqps://alice:password@rabbitmq.example.com:5671/%2Fmyapp/pdf.analysis.fanout
RABBITMQ_PUBLISH_EXCAHNGE=

# iCloud リマインダーのリスト名
# デフォルト: Reminders
# 文字列、または target_individuals による振り分け設定 (YAML形式) を記述できます。
# 複数行の YAML を記述する場合はシングルクォート (') で囲んで記述します。
# ICLOUD_REMINDER_LIST=Reminders
ICLOUD_REMINDER_LIST='
- regex: "^.*花子.*$"
  destination: "花子のリマインダー"
- regex: "^.*太郎.*$"
  destination: "太郎のリマインダー"
- destination: "家族のリマインダー"
'

# iCloud カレンダー名
# デフォルト: Calendar
# 文字列、または target_individuals による振り分け設定 (YAML形式) を記述できます。
# 複数行の YAML を記述する場合はシングルクォート (') で囲んで記述します。
# ICLOUD_CALENDAR_NAME=Calendar
ICLOUD_CALENDAR_NAME='
- regex: "^.*花子.*$"
  destination: "花子のカレンダー"
- regex: "^.*太郎.*$"
  destination: "太郎のカレンダー"
- destination: "家族のカレンダー"
'

# 名前置換用の正規表現と置き換え後の文字列のリスト (YAML形式)
# 複数行の YAML を記述する場合はシングルクォート (') で囲んで記述します
TARGET_INDIVIDUAL_REPLACEMENTS='
- regex: "^山田"
  replacement: ""
- regex: "^田中"
  replacement: ""
'
